@use '@/design/styles/' as *;

.github-url-upload {
  &__body {
    padding: 24px;
    margin-top: 16px;
    background-color: $white;
    border-radius: 8px;
    @include device(sp) {
      padding: 24px 16px 40px 16px;
    }
  }
  &__header {
    margin-bottom: 40px;
    @include device(sp) {
      margin-bottom: 32px;
      .heading {
        font-size: $font-size-semi-medium;
        font-weight: $font-weight-bold;
        line-height: 32px;
        text-align: center;
      }
    }
  }
  &__content {
    @include align(column, flex-start, flex-start, 0, 24px);
  }
  &__fieldWrapper {
    width: 620px;
    @include align(row, flex-start, flex-start, 12px);
    & > .text {
      width: 120px;
      min-width: 120px;
    }
    @include device(sp) {
      width: 100%;
      @include align(column, flex-start, flex-start, 0, 12px);
    }
  }
  &__platformWrapper {
    @include align(row, flex-start, flex-start, 16px, 12px);
    flex-wrap: wrap;
    @include device(sp) {
      gap: 8px;
    }
  }
  &__platform {
    @include align(column, center, center, 0, 8px);
    width: 110px;
    padding: 16px 0;
    cursor: pointer;
    background-color: $white;
    border: 1px solid $neutral-200;
    border-radius: 12px;
    &:hover {
      background-color: $neutral-50;
      border-color: $neutral-100;
    }
    @include device(sp) {
      width: 147px;
      height: 42px;
      padding: 8px;
      border-radius: 6px;
      @include align(row, flex-start, center, 8px);
    }
    &__iconWrapper {
      height: 32px;
      @include device(sp) {
        width: 39px;
        height: unset;
        @include align();
      }
    }
    &__icon {
      @include device(sp) {
        width: auto;
        height: 24px;
        &-express {
          width: 21px;
          height: auto;
        }
        &-php,
        &-rails {
          width: 39px;
          height: auto;
        }
      }
    }
    &-selected {
      border-color: $primary-400;
      &:hover {
        background-color: $white;
        border-color: $primary-400;
      }
    }
  }
  .textInput {
    input {
      &::placeholder {
        color: $neutral-400;
      }
    }
  }
  &__textArea {
    width: 100%;
    height: 89px;
    padding: 8px 14px;
    font-size: $font-size-semi-tiny;
    line-height: 20px;
    color: $neutral-800;
    resize: none;
    border: 1px solid $neutral-300;
    border-radius: 6px;
    outline: none;
    &:focus {
      border-color: $primary-500;
    }
    &::placeholder {
      color: $neutral-400;
    }
  }
  &__button {
    width: 620px;
    margin-top: 56px;
    text-align: right;
    @include device(sp) {
      width: 100%;
      margin-top: 32px;
    }
  }
}
